MARIADB_ROOT_PASSWORD=my_root_password
MARIADB_DATABASE=bitnami_wordpress
MARIADB_USER=bn_wordpress
MARIADB_PASSWORD=my_db_password
WORDPRESS_DATABASE_HOST=db
WORDPRESS_DATABASE_PORT_NUMBER=3306
WORDPRESS_DATABASE_NAME=bitnami_wordpress
WORDPRESS_DATABASE_USER=bn_wordpress
WORDPRESS_DATABASE_PASSWORD=my_db_password
WORDPRESS_USERNAME=admin357L               
WORDPRESS_PASSWORD=secure_admin_pass3D-password   
WORDPRESS_EMAIL=admin@example.com      
ALLOW_EMPTY_PASSWORD=no